.catalog {
    padding: 80px 0;
}

.h2-title {
    color: #22253C;
    font-size: clamp(28px, 5vw, 74px);
    font-weight: 700;
    text-transform: uppercase;
}

.catalog__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.catalog__item {
    width: 100%;
    background-color: #F6F6F6;
    padding: 40px 0;
}

.catalog__item img {
    margin: 0 auto;
    max-width: 230px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.catalog__item__img {
    overflow: hidden;
}

.catalog__item:hover img {
    transform: scale(1.05);
}

.catalog__item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
}

.catalog__item-wrapper span {
    font-size: 24px;
    color: #4466B6;
}

@media (max-width: 1023px) {
    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* sidebar */

.menu>li {
    padding: 10px 20px;
    border-radius: 10px;
}

.menu>li>a {
    display: block;
    position: relative;
    font-weight: 600;
}

.menu>li>a::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 10px;
    top: 8px;
    right: 10px;
    background-image: url('../src/img/arrow-up.svg');
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

.menu>li>a.is-active::before {
    transform: rotate(180deg);
}

.menu>li {
    z-index: 10;
}

.sub-menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.sub-menu.is-active {
    opacity: 1;
}

.sub-menu li {
    padding: 5px 0;
}

.catalog__wrapper {
    display: grid;
    grid-template-columns: 380px 1fr;
    gap: 30px;
}

.catalog__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.catalog-menu-button {
    display: none;
}

@media (max-width: 1023px) {
    .catalog__wrapper {
        grid-template-columns: 280px 1fr;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .catalog__wrapper {
        grid-template-columns: 1fr;
    }

    .catalog-menu-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 220px;
        padding: 16px 30px;
        color: #ABABAB;
        background-color: #F6F6F6;
    }

    .catalog-menu-button.is-active img {
        transform: rotate(180deg);
    }

    .catalog-form__sidebar {
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 10px 20px;
        opacity: 0;
        visibility: hidden;
    }

    .catalog-form__sidebar.is-active {
        opacity: 1;
        visibility: visible;
    }

    .catalog__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}